<div class="rounded-lg border border-gray-200 shadow-sm bg-white mb-4 p-2">
<div class="flex items-center justify-between gap-6">
    <a routerLink="/shop/{{item().productId}}" class="shrink order-1">
        <img src="{{item().pictureUrl}}" alt="image of {{item().productName}}" class="w-20 h-20">
    </a>
    <div class="flex items-center justify-between  order-3">
     <div class="flex items-center align-middle gap-3">
        <button mat-icon-button (click)="decreamentQuantiy()">
          <mat-icon class="text-red-600">remove</mat-icon>
        </button>
        <div class="font-semibold text-xl mb-1">{{item().quantity}}</div>
        <button mat-icon-button (click)="increamentQuantiy()">
            <mat-icon class="text-green-600">add</mat-icon>
          </button>
    </div>
    <div class="text-end order-4 w-32">
        <p class="font-semibold text-xl">{{item().price | currency}}</p>
    </div>
     </div>
     <div class="w-full flex-1 space-y-4 order-2  max-w-md">
        <a routerLink="/shop/{{item().productId}}" class="font-medium">
            {{item().productName}}
        </a>
        <div class="flex items-center gap-4">
            <button mat-button class="warn" (click)="removeItemFromCart()">
              <mat-icon>delete</mat-icon>
              Delete
            </button>
        </div>
     </div>
</div>
</div>


